@using Dalutex.Models;

@model Dalutex.Models.PesquisaClientesFaturaViewModel

@{
    ViewBag.Title = "CLIENTE DA FATURA";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="PesquisaClientesFatura">
                @using (Html.BeginForm("ClientesFatura", "Cadastro", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="display:-webkit-inline-box">
                        @Html.LabelFor(m => m.Filtro, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Filtro, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Filtro, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="PESQUISAR" class="btn btn-default" />
                    </div>
                }
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section id="ResultadoClientes">
                <div class="list-group" id="lstClientes">
                    <a href="#" class="list-group-item active">CLIENTE FATURA</a>
                    @if (@Model != null && @Model.ClientesFatura != null)
                    {
                        foreach (Dalutex.Models.DataModels.VW_CLIENTE_TRANSP item in Model.ClientesFatura)
                        {
                            if (Model.IDTipoPedido != (int)Enums.TiposPedido.RESERVA)
                            {
                                <a href="@Url.Action("ClientesEntrega", "Cadastro", new { IDClienteFatura = item.ID_CLIENTE, IDClienteEntrega = item.ID_CLIENTE })" class="list-group-item"><strong> @item.CNPJ.Trim()</strong> | @item.NOME.Trim() | @item.ENDERECO</a>
                            }
                            else
                            {
                                <a href="@Url.Action("ConclusaoPedido", "Pedido", new { idtransportadora = "", idclienteFatura = item.ID_CLIENTE })" class="list-group-item"><strong> @item.CNPJ.Trim()</strong> | @item.NOME.Trim() | @item.ENDERECO</a>
                            }
                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>UTILIZE O FILTRO PARA BUSCAR O CLIENTE ENTREGA</em></p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
