@using Dalutex.Models.DataModels

@model Dalutex.Models.PesquisaClientesEntregaViewModel

@{
    ViewBag.Title = "Cliente da entrega";
}

<h1 class="viewTitle">@ViewBag.Title</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="PesquisaClientesEntrega">
                @using (Html.BeginForm("ClientesEntrega", "Cadastro", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Filtro, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Filtro, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Filtro, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Pesquisar" class="btn btn-default" />
                    </div>
                }
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section id="ResultadoClientesEntrega">
                <div class="list-group" id="lstClientes">
                    <a href="#" class="list-group-item active">CLIENTE ENTREGA</a>
                    @if (@Model != null && @Model.ClientesEntrega != null)
                    {
                        foreach (VW_CLIENTE_TRANSP item in Model.ClientesEntrega)
                        {
                            <a href="@Url.Action("Transportadora", "Cadastro", new { IDClienteEntrega = item.ID_CLIENTE, IDTransportadora = item.ID_TRANSP })" class="list-group-item"><strong>@item.CNPJ.Trim()</strong> @item.NOME.Trim() - End.: @item.ENDERECO</a>
                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>Utilize o filtro para buscar o cliente entrega</em></p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
