@using Dalutex.Models.DataModels

@model Dalutex.Models.PesquisaFreteViewModel

@{
    ViewBag.Title = "FRETES";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="Resultado">
                <div class="list-group" id="lstItens">
                    <a href="#" class="list-group-item active">FRETES</a>
                    @if (@Model != null && @Model.Fretes != null)
                    {
                        foreach (var item in Model.Fretes)
                        {
                            if (@item.TIPOFRETE.ToString() == @Model.FreteSelecionado)
                            {
                                <a href="@Url.Action("ProximoPasso", "Cadastro", new { IDFrete = item.TIPOFRETE })" class="list-group-item"><i class="glyphicon glyphicon-ok"></i>&nbsp;@item.DESCRICAO</a>
                            }
                            else
                            {
                                <a href="@Url.Action("ProximoPasso", "Cadastro", new { IDFrete = item.TIPOFRETE })" class="list-group-item">@item.DESCRICAO</a>
                            }

                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>LISTA DE FRETES NÃO CARREGADA</em></p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
