@model Dalutex.Models.UploadImageModelView

@using Dalutex.Models;
@using Dalutex.Models.DataModels;


@{
    ViewBag.Title = "CADASTRAR IMAGEM ITEM STUDIO";
}
@Styles.Render("~/Content/fileinput")

<div class="header-title"><h3>@ViewBag.Title</h3></div>

@if (Model.CodStudio != null)
{
    <div class="panel panel-default">
        <h5>
              <strong>STUDIO:</strong>&nbsp;@Model.Studio
            | <strong>CÓD STUDIO:</strong>&nbsp;@Model.CodStudio
            | <strong>CÓD. DAL:</strong>&nbsp;@Model.CodDal 
            | <strong>DESENHO:</strong>&nbsp;@Model.Desenho
        </h5>
    </div>

    <div class="panel panel-default">
        <div class="container">
            @*<img id="imgPreview" width="400" style="display:none" />*@

            @*exemplo usando bootstrap: https://github.com/kartik-v/bootstrap-fileinput*@

            @using (Html.BeginForm("UploadImage", "Cadastro", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @*@Html.ValidationSummary();*@
                
                <input type="hidden" name="cod_studio" value="@Model.CodStudio" id="hidcod-stud" />
                <input type="hidden" name="studio" value="@Model.Studio" />
                <input type="hidden" name="cod_dal" value="@Model.CodDal" />
                <input type="hidden" name="desenho" value="@Model.Desenho" />


                @*<input id="input-43" type="file" accept="image/jpeg" name="desenho">   *@

                <input id="input-43" name="desenho" type="file" multiple class="file-loading" accept="image/jpeg">

                <div id="errorBlock43" class="help-block"></div>
              
                
            }
            <div><p>Tipo de arquivo suportado: ".jpg" | Tamanho máximo: 2 mb</p></div> 
            <hr />
            @Html.ActionLink("VOLTAR", "DesenhosSemImagem", "Cadastro", new { @class = "btn btn-default" })
        </div>                               
    </div>
}
else
{
    <div class="panel panel-default">
        <h5>DESENHO NÃO SELECIONADO</h5>
    </div>
        
    @Html.ActionLink("CADASTRAR IMAGENS", "DesenhosSemImagem", "Cadastro", new { @class = "btn btn-default" })
}


@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-table")   
    @Scripts.Render("~/bundles/fileinput")
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods
                fileInput_Change = function (event) {
                    $("#imgPreview").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
                }
                
                // public API
                return {
                    fileInput_Change: fileInput_Change
                };
            })();

            //Init
            (function Init() {
                //$('#fileInput').on('change', scriptWrapper.fileInput_Change);

                // initialize with defaults --- oda
                //$("#input-43").fileinput();

                // with plugin options --- oda
                //$("#input-43").fileinput({ 'showUpload': true, 'previewFileType': 'any' });

                $("#input-43").fileinput({
                    previewFileType: "image",
                    browseClass: "btn btn-success",
                    browseLabel: "Pick Image",
                    browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
                    removeClass: "btn btn-danger",
                    removeLabel: "Delete",
                    removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
                    uploadClass: "btn btn-info",
                    uploadLabel: "Upload",
                    uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',

                    elErrorContainer: "#errorBlock43",
                    maxFileSize: 2048,
                    maxFileCount: 1,
                    showUpload: true,
                    allowedFileTypes: ["image"],
                    allowedFileExtensions: ["jpg", "jpeg"],

                    uploadUrl: "/cadastro/UploadImage", // server upload action
                    uploadAsync: true,
                    uploadExtraData: { 'codStudio': $("#hidcod-stud")[0].value }
                });

                
               

            })();  
        });
    </script>
}
