@using Dalutex.Models.DataModels

@model Dalutex.Models.PesquisaViaTransporteViewModel

@{
    ViewBag.Title = "VIAS DE TRANSPORTE";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="Resultado">
                <div class="list-group" id="lstItens">
                    <a href="#" class="list-group-item active">VIAS</a>
                    @if (@Model != null && @Model.ViasTransporte != null)
                    {
                        foreach (var item in Model.ViasTransporte)
                        {
                            if (@item.VIATRANSPORTE.ToString() == @Model.ViaSelecionada)
                            {
                                <a href="@Url.Action("ProximoPasso", "Cadastro", new { IDVia = item.VIATRANSPORTE })" class="list-group-item"><i class="glyphicon glyphicon-ok"></i>&nbsp;@item.DESCRICAO</a>
                            }
                            else
                            {
                                <a href="@Url.Action("ProximoPasso", "Cadastro", new { IDVia = item.VIATRANSPORTE })" class="list-group-item">@item.DESCRICAO</a>
                            }

                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>LISTA DE VIAS NÃO CARREGADA</em></p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
