@model Dalutex.Models.InserirNoCarrinhoViewModel
@using Dalutex.Models;

<div class="item-carrinho" style="background-color:rgba(128, 128, 128, 0.1)">
    <div class="row">
        <div class="col-xs-2">
            @if (Model.Tipo == Enums.ItemType.Estampado || Model.Tipo == Enums.ItemType.ValidacaoReserva)
            {
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, pagina=0, retornarpara  = "Carrinho", codstudio = "", tipo = (int)Enums.ItemType.Estampado  })">
                    <img src="@Url.Content(ViewData["URLDESENHOS"] + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                </a>
            }
            else if (Model.Tipo == Enums.ItemType.Liso)
            {
                <img style="background-color:@Model.RGB; width:100%; height:80px;" class="img-rounded">
            }
            else if (Model.Tipo == Enums.ItemType.Reserva)
            {
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, pagina=0, retornarpara  = "Carrinho", codstudio = Model.CodStudio, tipo = (int)Enums.ItemType.Reserva  })">
                    <img src="@Url.Content(ViewData["URLRESERVAS"] + @Model.CodStudio + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                </a>
            }
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div style="box-shadow:rgba(0,0,0,0.4),10px,,10px,inset; margin-right:20px">
                    @if (Model.Tipo != Enums.ItemType.Reserva)
                    {
                        <div class="col-md-5">
                            <div><strong>Artigo:</strong> @Model.Artigo</div>

                            @if (Model.Tipo == Enums.ItemType.Estampado || Model.Tipo == Enums.ItemType.ValidacaoReserva)
                            {
                                <div> <strong>Desenho:</strong> @Model.Desenho </div>
                                <div> <strong>Variante:</strong> @Model.Variante </div>
                                <div> <strong>Tecnologia:</strong> @Model.TecnologiaPorExtenso </div>

                                if (Model.Reduzido != -2)
                                {
                                    <div> <strong>Reduzido:</strong> @Model.Reduzido </div>
                                }

                                <div><strong>Peças:</strong>&nbsp;@Model.Pecas</div>

                                if (Model.Farol < 200)
                                {
                                    <div> <font color="red"> <strong>Farol:</strong>&nbsp;@Model.Farol </font></div>
                                }
                                else
                                {
                                    <div><strong>Farol:</strong>&nbsp;@Model.Farol</div>
                                }

                            }
                            else if (Model.Tipo == Enums.ItemType.Liso)
                            {
                                <div><strong>Cor:</strong>&nbsp;@Model.Cor </div>                               
                                <div><strong>Reduzido:</strong>&nbsp;@Model.Reduzido</div>
                            }
                        </div>
                        <div class="col-md-5">
                            @if (Model.PrecoTabela != null)
                            {
                                <div><strong>Preço de tabela:</strong>&nbsp;@Model.PrecoTabela.GetValueOrDefault().ToString("C")</div>
                                if (Model.PrecoTabela.GetValueOrDefault() != Model.Preco)
                                {
                                    <div><strong class="text-danger">Preço unitário Digitado:&nbsp;@Model.Preco.ToString("C") &nbsp; <span class="glyphicon glyphicon-remove-circle"></span></strong></div>
                                }
                            }
                            else
                            {
                                <div><strong>Preço unitário:</strong>&nbsp;@Model.Preco.ToString("C")</div>
                            }
                            @if (Model.Tipo == Enums.ItemType.Estampado || Model.Tipo == Enums.ItemType.ValidacaoReserva)
                            {
                                <div><strong>Previsão de entrega:</strong>&nbsp;@Model.DataEntregaItem.ToString("d")</div>

                                <div><strong>Data Solicitada:</strong>&nbsp;@Model.DtItemSolicitada.ToString("d")</div>
                                <div><strong>Coleção:</strong>&nbsp;@Model.NMColecao</div>

                                <div><strong>Quantidade:</strong>&nbsp;@Model.Quantidade&nbsp;@Model.UnidadeMedida</div>
                                <div><strong>Total:</strong>&nbsp;@Model.ValorTotalItem.ToString("c")</div>
                            }                                                                                   
                            
                            @if (((bool?)ViewData["ALTERARITEM"]) == true)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Compose)
                                    <div>
                                        @Html.DropDownListFor(m => m.Compose, new SelectList(Model.ComposeOpcoes), "Selecione", new { @class = "lstCompose", data_numero_sequencial = Model.NumeroSequencial })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div><strong>Compose:</strong>&nbsp;@Model.Compose</div>
                            }

                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            <div><strong>Código DAL:</strong>&nbsp;@Model.CodDal</div>
                            <div><strong>Código do studio:</strong>&nbsp;@Model.CodStudio</div>
                            <div><strong>Desenho:</strong>&nbsp;@Model.Desenho</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (((bool?)ViewData["ALTERARITEM"]) == true)
    {
        <div style="border:1px solid gray; background-color: ghostwhite; padding:3px">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("ExcluirItemCarrinho", "Pedido", null, FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Artigo)
                        @Html.HiddenFor(x => x.Desenho)
                        @Html.HiddenFor(x => x.Variante)
                        @Html.HiddenFor(x => x.CodDal)
                        @Html.HiddenFor(x => x.Reduzido)

                        <button type="submit" class="btn btn-danger pull-left"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp;REMOVER</button>
                        <span class="pull-left">&nbsp;</span>
                        if (Model.IDTipoPedido != (int)Enums.TiposPedido.RESERVA)
                        {
                            <a href="@Url.Action("InserirNoCarrinho", "Pedido", new
                                {
                                    desenho = Model.Desenho,
                                    variante = Model.Variante,
                                    artigo = Model.Artigo,
                                    tecnologia = Model.Tecnologia,
                                    modo = "A",
                                    codstudio = "",
                                    coddal = "",
                                    tipo = (int)Model.Tipo,
                                    reduzido = Model.Reduzido,
                                    idstudio = Model.IDStudio,
                                    iditemstudio = Model.IDItemStudio,
                                    idvariante = Model.IDVariante,
                                    pedidoreserva = Model.PedidoReserva,
                                    itempedidoreserva = Model.ItemPedidoReserva
                                })" class="btn btn-info pull-left">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;ALTERAR
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

