@model Dalutex.Models.InserirNoCarrinhoViewModel
@using Dalutex.Models;

<div class="item-carrinho" style="background-color:rgba(128, 128, 128, 0.1)">
    <div class="row">
        <div class="col-xs-2">
            @if (Model.Tipo == Enums.ItemType.Estampado)
            {
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, pagina=0, retornarpara  = "Carrinho", codstudio = "", tipo = (int)Enums.ItemType.Estampado  })">
                    <img src="@Url.Content(ViewData["URLIMAGENS"] + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                </a>
            }
            else if (Model.Tipo == Enums.ItemType.Liso)
            {
                <img style="background-color:@Model.RGB; width:100%; height:80px;" class="img-rounded">
            }
            else if (Model.Tipo == Enums.ItemType.Reserva)
            {
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, pagina=0, retornarpara  = "Carrinho", codstudio = Model.CodStudio, tipo = (int)Enums.ItemType.Reserva  })">
                    <img src="@Url.Content(ViewData["URLIMAGENS"] + @Model.CodStudio + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                </a>
            }
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div style="box-shadow:rgba(0,0,0,0.4),10px,,10px,inset; margin-right:20px">
                    @if (Model.Tipo != Enums.ItemType.Reserva)
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>
                                    ART.: @Model.Artigo
                                </strong>
                            </div>
                            <div class="col-xs-6">
                                <strong>
                                    TEC.: @Model.TecnologiaPorExtenso
                                </strong>
                            </div>
                        </div>
                        if (Model.Desenho != null)
                        {
                            <div class="row">
                                <div class="col-xs-6">
                                    <strong>
                                        DES.: @Model.Desenho
                                    </strong>
                                </div>
                                <div class="col-xs-6">
                                    <strong>
                                        VAR.: @Model.Variante
                                    </strong>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-xs-6">
                                    <strong>
                                        COR.: @Model.Cor
                                    </strong>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-4">
                                <strong>
                                    COD DAL: @Model.CodDal
                                </strong>
                            </div>
                            <div class="col-xs-4">
                                <strong>
                                    COD STUDIO: @Model.CodStudio
                                </strong>
                            </div>
                            <div class="col-xs-4">
                                <strong>
                                    DES.: @Model.Desenho
                                </strong>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.Tipo != Enums.ItemType.Reserva)
            {
                <div class="row">
                    <div class="col-xs-6">
                        Peças: @Model.Pecas
                    </div>
                    <div class="col-xs-6">
                        Preço unit.: @Model.Preco.ToString("C")
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Prev.: @Model.DataEntregaItem.ToString("d")
                    </div>
                    <div class="col-xs-4">
                        Qtde.: @Model.Quantidade @Model.UnidadeMedida
                    </div>
                    <div class="col-xs-4">
                        Total: @Model.ValorTotalItem.ToString("c")
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12">
            @using (Html.BeginForm("ExcluirItemCarrinho", "Pedido", null, FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Artigo)
                @Html.HiddenFor(x => x.Desenho)
                @Html.HiddenFor(x => x.Variante)
                @Html.HiddenFor(x => x.CodDal)

                <div class="form-group">
                    <input type="submit" value="REMOVER" class="btn btn-danger pull-left" />
                    @if (Model.IDTipoPedido != (int)Enums.TiposPedido.RESERVA)
                    {
                        @Html.ActionLink("ALTERAR", "InserirNoCarrinho", "Pedido", 
                                            new { desenho = Model.Desenho, 
                                                  variante = Model.Variante, 
                                                  artigo = Model.Artigo, 
                                                  tecnologia = Model.Tecnologia, 
                                                  modo = "A", 
                                                  codstudio = "", 
                                                  coddal = "", 
                                                  tipo = (int)Model.Tipo,
                                                  idstudio = 0,
                                                  iditemstudio = 0                                                    
                                                }, 
                                                new { @class = "btn btn-info pull-right" })
                        
                        //  string idcolecao
                        //, string nmcolecao
                        //, string pagina
                        //, string desenho
                        //, string variante
                        //, string artigo
                        //, string tecnologia
                        //, string cor
                        //, string modo
                        //, string rgb
                        //, int reduzido
                        //, string codstudio
                        //, string coddal
                        //, int tipo
                        //, int idstudio
                        //, int iditemstudio
                    }
                </div>
            }
        </div>
    </div>
</div>

