@model Dalutex.Models.InserirNoCarrinhoViewModel
@using Dalutex.Models;

<div class="item-carrinho" style="background-color:rgba(128, 128, 128, 0.1)">
    <div class="row">
        <div class="col-xs-2">
            @if (Model.Tipo == Enums.ItemType.Estampado || Model.Tipo == Enums.ItemType.ValidacaoReserva)
            {
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, pagina=0, retornarpara  = "Carrinho", codstudio = "", tipo = (int)Enums.ItemType.Estampado  })">
                    <img src="@Url.Content(ViewData["URLIMAGENS"] + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                </a>
            }
            else if (Model.Tipo == Enums.ItemType.Liso)
            {
                <img style="background-color:@Model.RGB; width:100%; height:80px;" class="img-rounded">
            }
            else if (Model.Tipo == Enums.ItemType.Reserva)
            {
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, pagina=0, retornarpara  = "Carrinho", codstudio = Model.CodStudio, tipo = (int)Enums.ItemType.Reserva  })">
                    <img src="@Url.Content(ViewData["URLIRESERVAS"] + @Model.CodStudio + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                </a>
            }
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div style="box-shadow:rgba(0,0,0,0.4),10px,,10px,inset; margin-right:20px">
                    @if (Model.Tipo != Enums.ItemType.Reserva)
                    {
                        <div class="col-md-8">
                            <div>
                                Artigo: @Model.Artigo
                            </div>

                            @if (Model.Desenho != null)
                            {
                                <div> Desenho: @Model.Desenho </div>
                                <div> Variante: @Model.Variante </div>
                                <div> Artigo: @Model.TecnologiaPorExtenso </div>
                                
                                if (Model.Reduzido != -2) 
                                { 
                                    <div> Reduzido: @Model.Reduzido </div>
                                }
                                
                                <div> Peças: @Model.Pecas</div>
                                <div> Preço unit.: @Model.Preco.ToString("C")</div>
                                <div> Prev Entrega: @Model.DataEntregaItem.ToString("d")</div>
                                <div> Quantidade: @Model.Quantidade  <strong>@Model.UnidadeMedida</strong></div>
                                <div>Total: @Model.ValorTotalItem.ToString("c")</div>
                            }
                            else
                            {
                                <div>Cor: @Model.Cor </div>                               
                                <div>Reduzido: @Model.Reduzido</div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-4">
                                <strong>
                                    COD DAL: @Model.CodDal
                                </strong>
                            </div>
                            <div class="col-xs-4">
                                <strong>
                                    COD STUDIO: @Model.CodStudio
                                </strong>
                            </div>
                            <div class="col-xs-4">
                                <strong>
                                    DES.: @Model.Desenho
                                </strong>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.Tipo != Enums.ItemType.Reserva)
            {
                
            }
        </div>
    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class=" col-xs-12">
                @using (Html.BeginForm("ExcluirItemCarrinho", "Pedido", null, FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Artigo)
                    @Html.HiddenFor(x => x.Desenho)
                    @Html.HiddenFor(x => x.Variante)
                    @Html.HiddenFor(x => x.CodDal)

                    <div class="form-group">
                        <input type="submit" value="REMOVER" class="btn btn-danger pull-left" />
                        @if (Model.IDTipoPedido != (int)Enums.TiposPedido.RESERVA)
                        {
                            @Html.ActionLink("ALTERAR", "InserirNoCarrinho", "Pedido",
                                            new
                                            {
                                                desenho = Model.Desenho,
                                                variante = Model.Variante,
                                                artigo = Model.Artigo,
                                                tecnologia = Model.Tecnologia,
                                                modo = "A",
                                                codstudio = "",
                                                coddal = "",
                                                tipo = (int)Model.Tipo,
                                                reduzido = Model.Reduzido,
                                                idstudio = Model.IDStudio,
                                                iditemstudio = Model.IDItemStudio,
                                                idvariante = Model.IDVariante,
                                                pedidoreserva = Model.PedidoReserva,
                                                itempedidoreserva = Model.ItemPedidoReserva
                                            },
                                                new { @class = "btn btn-info pull-right" })

                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

