@model Dalutex.Models.InserirNoCarrinhoViewModel

<div class="item-carrinho" style="background-color:rgba(128, 128, 128, 0.1)">
    <div class="row">
        <div class="col-xs-2">
            <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, retornarpara  = "Carrinho" })">
                @if (string.IsNullOrWhiteSpace(Model.Cor))
                {
                    <img src="@Url.Content(ViewData["URLIMAGENS"] + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-rounded" style="width:100%; height:100%;">
                }
                else
                {
                    <img style="background-color:@Model.RGB; width:100%; height:80px;" class="img-rounded">
                }
            </a>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div style="box-shadow:rgba(0,0,0,0.4),10px,,10px,inset; margin-right:20px">
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>
                                ART.: @Model.Artigo
                            </strong>
                        </div>
                        <div class="col-xs-6">
                            <strong>
                                TEC.: @Model.TecnologiaPorExtenso
                            </strong>
                        </div>
                    </div>
                    @if (Model.Desenho != null)
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>
                                    DES.: @Model.Desenho
                                </strong>
                            </div>
                            <div class="col-xs-6">
                                <strong>
                                    VAR.: @Model.Variante
                                </strong>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>
                                    COR.: @Model.Cor
                                </strong>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    Peças: @Model.Pecas
                </div>
                <div class="col-xs-6">
                    Preço unit.: @Model.Preco.ToString("C")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    Prev.: @Model.DataEntregaItem.ToString("d")
                </div>
                <div class="col-xs-4">
                    Qtde.: @Model.Quantidade @Model.UnidadeMedida
                </div>
                <div class="col-xs-4">
                    Total: @Model.ValorTotalItem.ToString("c")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12">
            @using (Html.BeginForm("ExcluirItemCarrinho", "Pedido", null, FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Artigo)
                @Html.HiddenFor(x => x.Desenho)
                @Html.HiddenFor(x => x.Variante)

                <div class="form-group">
                    <input type="submit" value="REMOVER" class="btn btn-danger pull-left" />
                    @Html.ActionLink("ALTERAR", "InserirNoCarrinho", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, artigo = Model.Artigo, tecnologia = Model.Tecnologia, modo = "A" }, new { @class = "btn btn-info pull-right" })
                </div>
            }
        </div>
    </div>
</div>

