<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dalutex pedidos web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/prePageFunctions")
</head>
<body class="background-dalutex">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dalutex", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="glyphicon-scissors"></span>&nbsp;
                                NEGÓCIOS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("COLEÇÃO", "MenuColecoes", "Pedido")</li>                                                                    
                                <li>@Html.ActionLink("EXCLUSIVOS", "Pedido", "Pedido")</li>
                                <li>@Html.ActionLink("PRONTA ENTREGA", "Pedido", "Pedido")</li>     
                                <li>@Html.ActionLink("RECOLORAÇÃO/ACERVO", "Pedido", "Pedido")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("OUTROS", "Pedido", "Pedido")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    @* site em construção da dalutex: http://104.131.168.151/*@
    <footer>
        <p><em>&copy; @DateTime.Now.Year - Dalutex. Todos os direitos reservados | Desenvolvido por TI - Dalutex</em></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
