<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dalutex pedidos web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/prePageFunctions")
</head>
<body class="background-dalutex">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DALUTEX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("SOBRE", "About", "Home")</li>
                    <li>@Html.ActionLink("CONTATO", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("RELATORIO", "EspelhoPedido", "Pedido", new { numeropedido = "116183" }, null)</li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">NEGÓCIOS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("COLEÇÕES", "MenuColecoes", "Pedido")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("DESENHOS", "Desenhos", "Pedido", new { idcolecao = "DESENHOS", nmcolecao = "", pagina=1 }, null)</li>
                                <li>@Html.ActionLink("LISOS", "Lisos", "Pedido", new { idcolecao = "LISOS", nmcolecao = "", pagina = 1 }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("PEDIDO RESERVA", "ItensParaReserva", "Pedido")</li>
                                <li>@Html.ActionLink("VALIDAÇÃO DE RESERVA", "ValidaPedidoReserva", "Pedido")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("PRONTA ENTREGA", "EmConstrucao", "Pedido")</li>
                                <li>@Html.ActionLink("RECOLORAÇÃO/ACERVO", "EmConstrucao", "Pedido")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("OUTROS", "EmConstrucao", "Pedido")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    @* site em construção da dalutex: http://104.131.168.151/*@
    <footer>
        <p><em>&copy; @DateTime.Now.Year - Dalutex. Todos os direitos reservados | Desenvolvido por Equipe TI Dalutex</em></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
