@model Dalutex.Models.ThumbViewModel

<div class="thumbnail">
    <a href="@Url.Content(@"ArtigosDisponiveis?" +
                                            "&imagem=" + Model.UrlImagens + @Model.Desenho + "_" + @Model.Variante + ".jpg" +
                                            "&desenho=" + @Model.Desenho +
                                            "&variante=" + @Model.Variante
                                        )">
        <img src="@Url.Content(Model.UrlImagens + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-thumbnail equal-height"> 
    </a>
    <div class="caption">
        <h5>@Model.Desenho&nbsp;@Model.Variante</h5>
    </div>
</div>
