@model Dalutex.Models.ThumbViewModel
@using Dalutex.Models

<div class="thumbnail">
    @if (Model.Tipo == Enums.ItemType.Liso)
    {
        <a href="@Url.Content("InserirNoCarrinho?"+
                                "&desenho=" + Model.Desenho +
                                "&variante=" + Model.Variante +
                                "&artigo=" + Model.Artigo +
                                "&tecnologia=L" +
                                "&idcolecao=" + Model.IDColecao +
                                "&nmcolecao=" + Model.NMColecao +
                                "&pagina=" + Model.Pagina +
                                "&cor=" + Model.Cor +
                                "&rgb=" + Model.RGB +
                                "&reduzido=" + Model.Reduzido +
                                "&modo=I"+
                                "&tipo=" + ((int)Model.Tipo).ToString()+
                                "&idstudio=0"+
                                "&iditemstudio=0"+
                                "&idvariante=0"+
                                "&pedidoreserva=0"+
                                "&itempedidoreserva=0"
                                )">
            <img style="background-color:@Model.RGB;" class="liso-thumbnail">
            <div class="caption" style="text-decoration:none">
                <h5>Cor: @Model.Cor</h5>
                <p>Artigo: @Model.Artigo</p>
                <p>Reduzido: @Model.Reduzido</p>
            </div>
        </a>
    }
    else if (Model.Tipo == Enums.ItemType.Estampado)
    {
        <a href="@Url.Content(@"ArtigosDisponiveis?" +
                                            "&imagem=" + Model.UrlImagens + @Model.Desenho + "_" + @Model.Variante + ".jpg" +
                                            "&desenho=" + @Model.Desenho +
                                            "&variante=" + @Model.Variante+
                                            "&idcolecao="+ @Model.IDColecao+
                                            "&nmcolecao="+ @Model.NMColecao+
                                            "&pagina="+ @Model.Pagina+
                                            "&pedidoreserva=" +@Model.PedidoReserva+ 
                                            "&idvariante=0"+ 
                                            "&itempedidoreserva=0"+
                                            "&tipo=" + ((int)Model.Tipo).ToString()
                                        )">
            <img src="@Url.Content(Model.UrlImagens + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-thumbnail equal-height">
            <div class="caption">
                <h5 style="text-decoration:none">@Model.Desenho&nbsp;@Model.Variante</h5>
            </div>
        </a>
    }
    else if (Model.Tipo == Enums.ItemType.ValidacaoReserva)
    {
        <a href="@Url.Content(@"ArtigosDisponiveis?" +
                                            "&imagem=" + Model.UrlImagens + @Model.Desenho + "_" + @Model.Variante + ".jpg" +
                                            "&desenho=" + @Model.Desenho +
                                            "&variante=" + @Model.Variante+
                                            "&idcolecao="+ @Model.IDColecao+
                                            "&nmcolecao="+ @Model.NMColecao+
                                            "&pagina="+ @Model.Pagina+
                                            "&pedidoreserva=" +@Model.PedidoReserva+
                                            "&idvariante="+ @Model.IDVariante+
                                            "&itempedidoreserva="+ @Model.ItemPedidoReserva+
                                            "&tipo="+ (int)@Model.Tipo
                                        )">
            <img src="@Url.Content(Model.UrlImagens + @Model.Desenho + "_" + @Model.Variante + ".jpg")" class="img-thumbnail equal-height">
            <div class="caption">
                <h5 style="text-decoration:none">@Model.Desenho&nbsp;@Model.Variante</h5>
            </div>
        </a>
    }
    else if (Model.Tipo == Enums.ItemType.Reserva)
    {
        <a href="@Url.Content("InserirNoCarrinho?"+
                                "&desenho=" + Model.Desenho +
                                "&tecnologia=C" +
                                "&idcolecao=0"+
                                "&pagina=" + Model.Pagina +
                                "&reduzido=" + Model.Reduzido+
                                "&codstudio=" + Model.CodStudio +
                                "&coddal=" + Model.CodDal +
                                "&modo=I" +
                                "&tipo=" + ((int)Model.Tipo).ToString()+
                                "&idstudio=" + Model.IDStudio.ToString()+
                                "&iditemstudio=" + Model.IDItemStudio.ToString()+
                                "&idvariante=0"+
                                "&pedidoreserva=0"+
                                "&itempedidoreserva=0"
                                )">

            <img src="@Url.Content(Model.UrlImagens + @Model.CodStudio + ".jpg")" class="img-thumbnail equal-height">
            <p class="thumb-paragraph">Cod. Dal:@Model.CodDal</p>
            <p class="thumb-paragraph">Cod. Studio:@Model.CodStudio</p>
            <p class="thumb-paragraph">Desenho:@Model.Desenho</p>
        </a>
    }
</div>
