@model Dalutex.Models.AmpliacaoViewModel

@using Dalutex.Models;

@{
    ViewBag.Title = "VISUALIZAÇÃO DO DESENHO";
}
<div class="header-title"><h3>@ViewBag.Title</h3></div>
@if (Model.Tipo == (int)Enums.ItemType.Estampado)
{
    <img src="@Model.Imagem" class="img-rounded" style="width:100%; height:100%;">
}
else if (Model.Tipo == (int)Enums.ItemType.Liso)
{
    <img style="background-color:@Model.RGB; width:100%; height:80px;" class="img-rounded">
}
else if (Model.Tipo == (int)Enums.ItemType.Reserva)
{
    <img src="@Model.Imagem" class="img-rounded" style="width:100%; height:100%;">
}

@if ((Model.Tipo == (int)Enums.ItemType.Estampado || Model.Tipo == (int)Enums.ItemType.ValidacaoReserva))
{
    if (Model.Desenho == null)
    {
        <div class="panel panel-default">
            <h3>DESENHO NÃO INFORMADO</h3>
        </div>
    }
}
<br />
@if (Model.RetornarPara == "ArtigosDisponiveis")
{
    <a class="btn btn-default right" 
       href="@Url.Action("ArtigosDisponiveis", "Pedido", 
       new { 
            desenho = Model.Desenho, 
            variante = Model.Variante, 
            idcolecao = Model.IDColecao, 
            nmcolecao = Model.NMColecao, 
            pagina=Model.Pagina,
            pedidoreserva = 0, 
            idvariante = 0, 
            itempedidoreserva = 0, 
            tipo = Model.Tipo
       })">VOLTAR</a>
}
else if (Model.RetornarPara == "Carrinho")
{
    <a class="btn btn-default right" href="@Url.Action("Carrinho", "Pedido")">VOLTAR</a>
}
