@model Dalutex.Models.AmpliacaoViewModel

@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "VISUALIZAÇÃO DO DESENHO";
}
<h1 class="viewTitle">@ViewBag.Title</h1>
@if (Model.Desenho == null)
{
    <div class="panel panel-default">
        <h3>DESENHO NÃO INFORMADO</h3>
    </div>       
}
else
{
    <h2>DESENHO: @Model.Desenho VARIANTE: @Model.Variante</h2>
    <img src="@Url.Content(Model.Imagem)" class="img-rounded" style="max-width:100%" />
}
<br />
@if (Model.RetornarPara == "ArtigosDisponiveis")
{
    <a class="btn btn-default right" href="@Url.Action("ArtigosDisponiveis", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante, idcolecao = Model.IDColecao, nmcolecao = Model.NMColecao, pagina=Model.Pagina })">VOLTAR</a>
}
else if (Model.RetornarPara == "Carrinho")
{
    <a class="btn btn-default right" href="@Url.Action("Carrinho", "Pedido")">VOLTAR</a>
}
