@model Dalutex.Models.ArtigosDisponiveisViewModel

@using Dalutex.Models.DataModels;
@using Dalutex.Models;

@{
    ViewBag.Title = "ARTIGOS E TECNOLOGIAS DISPONÍVEIS";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

@if (Model.Desenho == null)
{
    <h3>DESENHO NÃO INFORMADO</h3>
}
else
{ 
    <div class="panel panel-default">
        <h5>DESENHO: <strong>@Model.Desenho </strong>  | VARIANTE: <strong>@Model.Variante</strong> </h5>
        <hr />
        <h5>Artigos não listados encontram-se Indisponiveis. Verificar com Dep. Comercial.</h5> 
    </div>       
     
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @if (Model.Artigos != null && Model.Artigos.Count == 0)
                {
                    <h5>A tecnologia do Desenho <strong>@Model.Desenho</strong> é <strong>@Model.TecnologiaAtual</strong>.</h5>
                    <br />
                    <h5><strong>Não há cadastro de artigos disponiveis para esta tecnologia.</strong></h5>
                    <br />
                    <h5>Por favor verificar com o SETOR ENGENHARIA DE PRODUTOS.</h5>
                }
                else
                {
                    




                    //anterior funcionando da forma atual -----------
                    if (Model.Artigos != null && Model.Artigos.Count > 0)
                    {   
                        string _Key = "";
                
                        <div id="MainMenu">
                            <div class="list-group panel">                       
                                                
                                @foreach (var group in Model.Artigos.GroupBy(item => item.Tecnologia))
                                { 
                                    _Key = Html.Encode(group.Key).ToString().Replace(" ","_"); 
                                        
                                    if (Model.TecnologiaAtual == _Key)                                                                 
                                    {     
                                        <a href="#@_Key" class="list-group-item list-group-item-success" data-toggle="collapse" 
                                           data-parent="#MainMenu"><i class="glyphicon glyphicon-arrow-down"></i>
                                           <strong>&nbsp;@_Key &nbsp;(Tecnologia Atual)</strong>                                     
                                        </a>
                                    }
                                    else 
                                    { 
                                        <a href="#@_Key" class="list-group-item list-group-item-success" data-toggle="collapse" 
                                           data-parent="#MainMenu"><i class="glyphicon glyphicon-arrow-down"></i>
                                            &nbsp;Tecnologia Disponível Para Troca:&nbsp;@_Key
                                        </a>
                                    }

                                    <div class="collapse" id="@_Key">
                                    @foreach (var item in group)
                                    {
                                        string linkCaption = item.Artigo;
                                        string linkClass = "list-group-item";
                                        string iconClass = "glyphicon glyphicon-ok";
                                        string linkUrl = Url.Content("~/Pedido/InserirNoCarrinho?"+
                                                                                "&desenho=" + Model.Desenho +
                                                                                "&variante=" + Model.Variante +
                                                                                "&artigo=" + item.Artigo +
                                                                                "&tecnologia=" + item.Tecnologia +
                                                                                "&tecnologiaoriginal=" + Model.TecnologiaAtual +
                                                                                "&idcolecao="+ Model.IDColecao +
                                                                                "&nmcolecao="+ Model.NMColecao +
                                                                                "&pagina="+ Model.Pagina +
                                                                                "&codstudio=null" +
                                                                                "&coddal=null" +
                                                                                "&modo=I" +                                                                                                                                               
                                                                                "&reduzido=" + Model.Reduzido+                                                                                                                                                
                                                                                "&tipo=" + ((int)Model.Tipo).ToString() +                                                                     
                                                                                "&idstudio=0"+
                                                                                "&iditemstudio=0"+
                                                                                "&idvariante="+Model.IDVariante+
                                                                                "&pedidoreserva="+Model.PedidoReserva+
                                                                                "&itempedidoreserva="+Model.ItemPedidoReserva+
                                                                                "&iditem=0"+
                                                                                "&preexistente=false"                                                                  
                                                                                );
                                        
                                        if(item.TemNoCarrinho)
                                        {
                                            linkCaption += " (INCLUÍDO)";
                                        }
                                        
                                        
                                        linkCaption += item.Restricao;
                                        
                                        if(item.TemNoCarrinho || !string.IsNullOrWhiteSpace(item.Restricao))
                                        {
                                            linkClass += " warning";
                                            iconClass = "glyphicon glyphicon-remove";
                                            linkUrl = "#";
                                        }
                                        
                                        <a href="@linkUrl" class="@linkClass"><i class="@iconClass"></i>&nbsp;@linkCaption</a>
                                    }
                                    </div>
                                }                                                           
                            </div>
                        </div>                
                    }
                    else
                    {
                        <h5>Desenho <strong>@Model.Desenho</strong> não possui cadastro de</h5>
                        @*<h5><strong>TECNOLOGIA ou CARACTERISTICAS TÉCNICAS</strong></h5>*@
                        <h5><strong>TECNOLOGIA</strong></h5>
                        <br />
                        <h5>Por favor verificar com o DESENVOLVIMENTO</h5>
                    }
                }

                <br />
                
                @if (Model.Tipo == Enums.ItemType.Estampado)
                {
                   <a href="@Url.Action("Desenhos", "Pedido", new { idcolecao = Model.IDColecao, nmcolecao = Model.NMColecao, pagina = Model.Pagina })" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;VOLTAR
                    </a>
                }
                else
                {
                    <a href="@Url.Action("DesenhosValidaReserva", "Pedido", new { pedidoreserva = Model.PedidoReserva, pagina = Model.Pagina })" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;VOLTAR
                    </a>
                }

                </div>
                <div class="col-sm-6">
                    <a href="@Url.Action("Ampliacao", "Pedido",
                                        new { desenho = Model.Desenho, variante = Model.Variante, idcolecao = Model.IDColecao,
                                              nmcolecao = Model.NMColecao, pagina = Model.Pagina, retornarpara  = "ArtigosDisponiveis",
                                              codstudio = "",
                                              //tipo = Model.Tipo
                                              tipo = (int)Model.Tipo
                                            }
                                         )">
                        <img src="@Url.Content(Model.Imagem)" class="img-rounded" style="max-width:100%" />
                    </a>
                    </div>
                </div>
            </div>
}
