@model Dalutex.Models.ArtigosDisponiveisViewModel

@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Artigos disponíveis";
}

<h2>@ViewBag.Title</h2>
@if (Model.Desenho == null)
{
    <h3>Desenho não informado</h3>
}
else
{ 
    <div class="panel panel-default">
        <h2>Detalhe do desenho: @Url.Content(Model.Desenho)</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @if (Model.Artigos != null)
                {
                    <div class="list-group">
                        <a href="#" class="list-group-item active">ARTIGOS E TECNOLOGIAS DISPONIVEIS</a>
                        @foreach (VW_ARTIGOS_DISPONIVEIS item in Model.Artigos)
                        {
                            <a href="@Url.Content("~/Pedido/InserirNoCarrinho?"+
                                                        "&desenho=" + Model.Desenho +
                                                        "&variante=" + Model.Variante +
                                                        "&artigo=" + item.ARTIGO +
                                                        "&tecnologia=" + item.TECNOLOGIA)"
                                        class="list-group-item"><strong>@item.ARTIGO</strong>&nbsp;-&nbsp;@item.TECNOLOGIA</a>
                        }
                    </div>
                }
                else
                {
                    <h3>Este Desenho não possui características técnicas cadastradas</h3>
                }
            </div>
            <div class="col-sm-6">
                <a href="@Url.Action("Ampliacao", "Pedido", new { desenho = Model.Desenho, variante = Model.Variante })">
                    <img src="@Url.Content(Model.Imagem)" class="img-rounded" style="max-width:100%"/>
                </a>
            </div>
        </div>
    </div>
}
