@model Dalutex.Models.ArtigosDisponiveisViewModel

@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Artigos disponíveis";
}

<h2>@ViewBag.Title</h2>
@if (Model.Desenho == null)
{
    <h3>Desenho não informado</h3>
}
else
{ 
    <div class="panel panel-default">
        <h2>Detalhe do desenho: @Url.Content(Model.Desenho)</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @if (Model.Artigos != null)
                {
                    <div class="list-group">
                        <a href="#" class="list-group-item active">ARTIGOS E TECNOLOGIAS DISPONIVEIS</a>
                        @foreach (VW_ARTIGOS_DISPONIVEIS item in Model.Artigos)
                        {
                            <a href="@Url.Content("~/Pedido/InserirNoCarrinho?"+
                                                        "&desenho=" + Model.Desenho +
                                                        "&variante=" + Model.Variante +
                                                        "&artigo=" + item.ARTIGO +
                                                        "&tecnologia=" + item.TECNOLOGIA)"
                                        class="list-group-item"><strong>@item.ARTIGO</strong>&nbsp;-&nbsp;@item.TECNOLOGIA</a>
                        }
                    </div>
                }
                else
                {
                    <h3>Este Desenho não possui características técnicas cadastradas</h3>
                }
            </div>
            <div class="col-sm-6">
                <img src="~/Content/images/ajax-loader.gif" class="img-rounded" id="imgDesenho" style="max-width:100%" data-assigned-id="@String.Concat(Model.Desenho,"_",Model.Variante)" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/equalheight")
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods
                loadImages = function () {
                    
                    var $img = $("#imgDesenho");
                    var data = $img.data("assigned-id").split("_");
                    var desenho = data[0];
                    var variante = data[1];

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ObterDesenho", "Pedido")',
                        data: 'desenho=' + desenho + '&variante=' + variante,
                        async: false,
                        success: function (Image) {
                            if (Image != '') {
                                $img.attr('src', 'data:image/jpg;base64,' + Image.Image);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $img.attr('src', 'data:image/jpg;base64,');
                        }
                    })


                    $('.equal-height').equalHeight();
                }

                // public API
                return {
                    loadImages: loadImages
                };
            })();

            //Init
            (function Init() {
                scriptWrapper.loadImages();
            })();
        });
    </script>
}
