@using Dalutex.Models;

@{
    ViewBag.Title = "MEU CARRINHO";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
            { 
                foreach (InserirNoCarrinhoViewModel item in ViewBag.Carrinho.Itens)
                {
                    ViewDataDictionary partialViewData = new ViewDataDictionary();
                    partialViewData.Add(new KeyValuePair<string, object>("URLDESENHOS", ViewBag.UrlDesenhos));
                    partialViewData.Add(new KeyValuePair<string, object>("URLRESERVAS", ViewBag.UrlReservas));

                    @Html.Partial(
                        "_ItemCarrinho",
                        item,
                        partialViewData
                    )
                    <hr />
                }
            }
            else
            {
                <p><em>CARRINHO VAZIO</em></p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
            {
                @Html.ActionLink("CONCLUIR", "Representantes", "Cadastro", null, new { @class = "btn btn-success pull-right", style="margin-left:5px;" })
            }
            @Html.ActionLink("ESVAZIAR", "EsvaziarCarrinho", "Pedido", null, new { @class = "btn btn-danger pull-right", style = "margin-left:5px;" })
            @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "btn btn-warning pull-right", style = "margin-left:5px;" })
        </div>
    </div>
</div>


