@using Dalutex.Models;

@{
    ViewBag.Title = "Meu carrinho";
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                <a href="#" class="list-group-item active">Itens do carrinho</a>
                    @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
                    { 
                        foreach (InserirNoCarrinhoViewModel item in ViewBag.Carrinho.Itens)
                        {
                            <a href="#" class="list-group-item"><strong>@item.Desenho - @item.Variante - @item.Artigo - @item.Tecnologia</strong> Peças: @item.Pecas Preço:@item.Preco</a>
                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>Carrinho vazio</em></p>
                    }
            </div>
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("Concluir pedido", "Representantes", "Cadastro", null, new { @class = "btn btn-default right" })
    </div>
</div>


