@*@model Dalutex.Models.InserirNoCarrinhoViewModel*@
@using Dalutex.Models;

@{
    ViewBag.Title = "MEU CARRINHO";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

<div class="header-title">
    <div class="row">
        <div class="col-xs-12">
        <a href="@Url.Action("AcertaCompose", "Pedido")" class="btn btn-primary pull-left" style="margin-left:5px;">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;&nbsp;Acertar Compose
        </a>
        </div>
    </div>
</div>

<div class="container-fluid">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
            { 
                foreach (InserirNoCarrinhoViewModel item in ViewBag.Carrinho.Itens)
                {
                    if(!item.Excluir)
                    { 
                        ViewDataDictionary partialViewData = new ViewDataDictionary();
                        partialViewData.Add(new KeyValuePair<string, object>("URLDESENHOS", ViewBag.UrlDesenhos));
                        partialViewData.Add(new KeyValuePair<string, object>("URLRESERVAS", ViewBag.UrlReservas));
                        partialViewData.Add(new KeyValuePair<string, object>("ALTERARITEM", true));

                        @Html.Partial(
                            "_ItemCarrinho",
                            item,
                            partialViewData
                        )
                        @*<hr />*@
                    }
                }
            }
            else
            {
                <p><em>CARRINHO VAZIO</em></p>
            }
        </div>
    </div>
</div>

    <div class="header-title">
        <div class="row">
            <div class="col-xs-12">
                @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
                {
                    <a href="@Url.Action("ProximoPasso", "Cadastro")" class="btn btn-success pull-left" style="margin-left:5px;">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;PROSSEGUIR
                    </a>
                }

                @if (ViewBag.TipoPedido != "PE")
                {
                    <a href="@Url.Action("EsvaziarCarrinho", "Pedido")" class="btn btn-danger pull-left" style="margin-left:5px;">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;ESVAZIAR
                    </a>
                    <a href="@Url.Action("LimparPedido", "Pedido")" class="btn btn-danger pull-left" style="margin-left:5px;">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;LIMPAR PEDIDO
                    </a>
                }
                <a href="@Url.Action("Index", "Home")" class="btn btn-warning pull-left" style="margin-left:5px;">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;HOME
                </a>
            </div>
        </div>
    </div>


<div id="alertCompose" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ATENÇÃO</h4>
            </div>
            <div class="modal-body">
                <p class="alertMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes
                lstCompose_Change = function () {
                    var sequencial = $(this).data("numero-sequencial");
                    var compose = $("option:selected", this).val();

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AtualizaCompose", "Pedido")',
                        data: 'compose=' + compose + '&sequencial=' + sequencial,
                        async: false,
                        //success: function (Image) {
                        //    if (Image != '') {
                        //        $img.attr('src', 'data:image/jpg;base64,' + Image.Image);
                        //    }
                        //},
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("Erro ao salvar composê");
                        }
                    });
                }

                //API Methods

                // public API
                return {
                    lstCompose_Change: lstCompose_Change
                };
            })();

            //Init
            (function Init() {
                $('.lstCompose').selectpicker();
                $('.lstCompose').on('change', scriptWrapper.lstCompose_Change);
            })();
        });
    </script>
}

