@using Dalutex.Models;

@{
    ViewBag.Title = "MEU CARRINHO";
}

<div class="panel panel-default">
    <h3 class="viewTitle">@ViewBag.Title</h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                <a href="#" class="list-group-item active">ITENS DO CARRINHO</a>
                    @if (ViewBag.Carrinho != null && ViewBag.Carrinho.Itens != null)
                    { 
                        foreach (InserirNoCarrinhoViewModel item in ViewBag.Carrinho.Itens)
                        {
                            <a href="#" class="list-group-item">
                                <strong>@item.Artigo | @item.Desenho | @item.Variante | @item.Tecnologia |   
                                </strong>PÇS: @item.Pecas | QTD: @item.Quantidade | UN:@item.Preco.ToString("C") | @item.ValorTotalItem.ToString("c") | @item.DataEntregaItem.ToString("d") 
                            </a>
                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>CARRINHO VAZIO</em></p>
                    }
            </div>
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("CONCLUIR PEDIDO", "Representantes", "Cadastro", null, new { @class = "btn btn-default right" })
    </div>
</div>


