
@{
    ViewBag.Title = "CONFIRMAÇÃO DE PEDIDO";
}
<div class="header-title"><h3>@ViewBag.Title</h3></div>
<hr/>
<h5>Pedido concluído com sucesso</h5> 
<h5>Uma cópia do pedido será encaminhada para seu e-mail em breve.</h5>
<hr />
<h2><strong>Pedido número: @ViewBag.NumeroPedido </strong></h2>
<hr />
<br />


@Html.ActionLink("VOLTAR AO INÍCIO", "Index", "Home", null, new { @class = "btn btn-default right" })
@Html.ActionLink("IMPRIMIR PEDIDO", "EspelhoPedido", "Pedido", new { numeropedido = @ViewBag.NumeroPedido }, new { @class = "btn btn-default right" })



