@model Dalutex.Models.PedidoViewModel

@using Dalutex.Models;
@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Desenhos da coleção";
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        @foreach (VW_COLECAO_ATUAL item in Model.Galeria)
        {
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a href="@Url.Content(@"ArtigosDisponiveis?" +
                                            "&imagem=" + Model.UrlImagens + item.DESENHO + "_" + item.VARIANTE + ".jpg" +
                                            "&desenho=" + item.DESENHO +
                                            "&variante=" + item.VARIANTE
                                        )">
                        <img src="@Url.Content(Model.UrlImagens + item.DESENHO + "_" + item.VARIANTE + ".jpg")" class="img-thumbnail equal-height" />
                    </a>
                    <div class="caption">
                        <h5>@item.DESENHO&nbsp;@item.VARIANTE<small>&nbsp;(@item.CODIGO_REDUZIDO)</small></h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/equalheight")
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods

                // public API
                return {
                };
            })();

            //Init
            (function Init() {
                $('.equal-height').equalHeight();
            })();
        });
    </script>
}