@model Dalutex.Models.ItensProntaEntregaViewModel

@using Dalutex.Models;
@using Dalutex.Models.DataModels;

@{
    ViewBag.Title = "Itens de pronta entrega";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

<div class="container-fluid">
    <div class="row-fluid" id="pesqDesenho">
        @using (Html.BeginForm("ItensProntaEntrega", "Pedido", null, FormMethod.Post, new { role = "search" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div>
                    @Html.TextBoxFor(x => x.FiltroDesenho, new { @class = "form-control", @style = "display:inline", placeholder = "Começa com.." })
                    <button type="submit" class="btn btn-default btn-group-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Pesquisar</button>
                    
                    @Html.ActionLink("Mais filtros", "PesquisaProntaEntrega", "Pedido", null, new { @class = "btn btn-default right" })    
                    
                    <button class="btn btn-default btn-group-sm"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Pesquisar</button>                
                </div>
            </div>
        }
    </div>

    <div class="row">
        @if (Model.Galeria != null)
        {
            foreach (VW_ITENS_PE item in Model.Galeria)
            {
                <div class="col-sm-4 col-md-2">

                    @Html.Partial(
                        "_Thumb",
                        new Dalutex.Models.ThumbViewModel()
                        {
                            Tipo = Enums.ItemType.ProntaEntrega,
                            Desenho = item.DESENHO,
                            Variante = item.VARIANTE,
                            UrlImagens = Model.UrlImagens,
                            Reduzido = item.REDUZIDO,
                            Cor = item.COR,
                            RGB = null,
                            IDColecao = -1,
                            NMColecao = item.COLECAO,
                            Pagina = Model.Pagina,
                            CodStudio = null,
                            CodDal = null,
                            IDStudio = 0,
                            IDItemStudio = 0,
                            
                            Artigo = item.ARTIGO,
                            Composicao = item.COMPOSICAO,                            
                            Tecnologia = item.TECNOLOGIA,
                            KGPrimeira = item.PRIM_QL_KG,
                            KGSegunda = item.SEG_QL_KG,
                            KGTerceira = item.TERC_QL_KG,

                            MTPrimeira = item.PRIM_QL_MT,
                            MTSegunda = item.SEG_QL_MT,
                            MTTerceira = item.TERC_QL_MT,
                        })

                </div>
            }
        }
    </div>
    <nav>
        <ul class="pagination">
            @if (Model.Galeria != null)
            {
                if (Model.Pagina > 1)
                {
                    <li>
                        <a href="@Url.Action("ItensProntaEntrega", "Pedido", new { pagina = Model.Pagina - 1, totalpaginas = Model.TotalPaginas })" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a href="#" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                int iComecar = Model.Pagina <= 5 ? 1 : Model.Pagina - 5;
                for (int i = iComecar; i <= Model.TotalPaginas; i++)
                {
                    if (Model.Pagina == i)
                    {
                        <li class="active"><a href="@Url.Action("ItensProntaEntrega", "Pedido", new { pagina = i, totalpaginas = Model.TotalPaginas })">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("ItensProntaEntrega", "Pedido", new { pagina = i, totalpaginas = Model.TotalPaginas })">@i</a></li>
                    }
                    if (i == iComecar + 9)
                    {
                        break;
                    }
                }
                if (Model.Pagina < Model.TotalPaginas)
                {
                    <li>
                        <a href="@Url.Action("ItensProntaEntrega", "Pedido", new { pagina = Model.Pagina + 1, totalpaginas = Model.TotalPaginas })" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a href="#" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
    <hr>
    <a class="btn btn-default right" href="javascript:history.back()">VOLTAR</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/equalheight")
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods
                
                // public API
                return {
                    //loadImages: loadImages
                };
            })();

            //Init
            (function Init() {
                $('.equal-height').equalHeight();
            })();
        });
    </script>
}
