@model Dalutex.Models.LisosPorColecaoViewModel

@using Dalutex.Models;
@using Dalutex.Models.DataModels;
@using System.Drawing;

@{
    ViewBag.Title = "ITENS DA COLEÇÃO: " + Model.NMColeao;
}

<div class="panel panel-default"><h3>@ViewBag.Title</h3></div>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="@Url.Content(@"DesenhosPorColecao?" +
                    "&IDColecao=" + @Model.IDColecao +
                    "&NMColecao=" + @Model.NMColeao +
                    "&pagina=" + @Model.Pagina)">ESTAMPADOS</a></li>
        <li role="presentation" class="active"><a href="#">LISOS</a></li>
    </ul>
    <div class="row">
        @if (Model.Galeria != null)
        {
            foreach (Liso item in Model.Galeria)
            {
                <div class="col-sm-4 col-md-2">

                    @Html.Partial(
                        "_Thumb",
                        new Dalutex.Models.ThumbViewModel()
                        {
                            Desenho = null,
                            Variante = null,
                            UrlImagens = null,
                            Reduzido = item.Reduzido,
                            Artigo = item.Artigo,
                            Cor = item.Cor,
                            RGB = item.RGB,
                            IDColecao = Model.IDColecao,
                            NMColecao = Model.NMColeao,
                            Pagina = Model.Pagina
                        })
                </div>
            }
        }
    </div>
    <div class="row">
        <nav>
            <ul class="pager">
                @if (Model.Galeria != null)
                {
                    if (Model.Pagina > 1)
                    {
                        <li class="previous"><a href="@Url.Action("LisosPorColecao", "Pedido", new { IDColecao = Model.IDColecao, pagina = Model.Pagina - 1 })"><span aria-hidden="true">&larr;</span>P&aacute;gina Anterior</a></li>
                    }
                    <li class="next"><a href="@Url.Action("LisosPorColecao", "Pedido", new { IDColecao = Model.IDColecao, pagina = Model.Pagina + 1 })">Pr&oacute;xima P&aacute;gina <span aria-hidden="true">&rarr;</span></a></li>
                }
            </ul>
        </nav>
    </div>
    <hr>
    <a class="btn btn-default right" href="javascript:history.back()">VOLTAR</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/equalheight")
    <script>
        $(document).ready(function () {
            //API
            scriptWrapper = (function () {

                //API Attributes

                //API Methods

                // public API
                return {
                };
            })();

            //Init
            (function Init() {
                $('.equal-height').equalHeight();
            })();
        });
    </script>
}
