@model Dalutex.Models.MenuColecoesViewModel
@using Dalutex.Models.DataModels

@{
    ViewBag.Title = "Menu de coleções";
}
<h1 class="viewTitle">@ViewBag.Title</h1>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <a class="navbar-brand" href="@Url.Action("DesenhosPorColecao", "Pedido", new { IDColecao = "ATUAL" })">Coleção Atual</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Pocket", "DesenhosPorColecao", "Pedido", new { IDColecao = "POCKET" })</li>                        
                    </ul>
                    @using (Html.BeginForm("MenuColecoes", "Pedido", null, FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Filtro, new { @class = "form-control", placeholder="Pesquisa coleção" })
                        </div>
                        <button type="submit" class="btn btn-default">Localizar</button>
                    }
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section id="ResultadoColecoes">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Coleções</a>
                    @if (@Model != null && @Model.Colecoes != null)
                    {
                        foreach (VW_COLECAO item in Model.Colecoes)
                        {
                            <a href="@Url.Action("DesenhosPorColecao", "Pedido", new { IDColecao = item.ID_COLECAO })" class="list-group-item"><strong>@item.NOME_COLECAO.Trim()</strong> - L:@item.LANCAMENTO.Value.ToString("dd/MM/yy") - V:@item.VIGENCIA.Value.ToString("dd/MM/yy") </a>
                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>Utilize o filtro para buscar as coleções</em></p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
