@using Dalutex.Models.DataModels
@using Dalutex.Models.Utils
@using Dalutex.Models

@model Dalutex.Models.PesquisaPedidoViewModel

@{
    ViewBag.Title = "PESQUISA PEDIDOS";
}

<div class="header-title"><h3>@ViewBag.Title</h3></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="PesquisaPedidos">
                @using (Html.BeginForm("PesquisaPedido", "Pedido", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="display:-webkit-inline-box">
                        @Html.LabelFor(m => m.FiltroPedido, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FiltroPedido, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FiltroPedido, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(m => m.FiltroRepresentante, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FiltroRepresentante, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FiltroRepresentante, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(m => m.FiltroCliente, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FiltroCliente, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FiltroCliente, "", new { @class = "text-danger" })
                        </div>
                        <input type="hidden" name="Pagina" value="@Model.Pagina" />
                        <input type="submit" value="PESQUISAR" class="btn btn-default" />
                    </div>
                }
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section id="ResultadoPedidos">
                <div class="list-group" id="lstPedidos">
                    <a href="#" class="list-group-item active">PEDIDO|REPRESENTANTE|CLIENTE</a>
                    @if (@Model != null && @Model.Pedidos != null)
                    {
                        foreach (VW_PESQUISA_PEDIDO item in Model.Pedidos)
                        {
                            <a href="@Url.Action("ManterPedido", "Pedido", new { IDPedido = item.PEDIDO})" class="list-group-item"><strong>@Utilitarios.PreencheComChar(@item.PEDIDO.ToString()," ",7)</strong> | @Utilitarios.PreencheComChar(@item.REPRESENTANTE, " ", 10) | @Utilitarios.PreencheComChar(@item.CLIENTE, " ", 20)</a>
                        }
                    }
                    else
                    {
                        <p class="list-group-item"><em>UTILIZE OS FILTROS PARA BUSCAR O PEDIDO QUE DESEJA ALTERAR</em></p>
                    }
                </div>
            </section>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            @if (Model.Pedidos != null)
            {
                if (Model.Pagina > 1)
                {
                    <li>
                        <a href="@Url.Action("PesquisaPedido", "Pedido", new { pedido = Model.FiltroPedido, cliente = Model.FiltroCliente, representante = Model.FiltroRepresentante, pagina = Model.Pagina - 1, totalpaginas = Model.TotalPaginas })" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a href="#" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                int iComecar = Model.Pagina <= 5 ? 1 : Model.Pagina - 5;
                for (int i = iComecar; i <= Model.TotalPaginas; i++)
                {
                    if (Model.Pagina == i)
                    {
                        <li class="active"><a href="@Url.Action("PesquisaPedido", "Pedido", new { pedido = Model.FiltroPedido, cliente = Model.FiltroCliente, representante = Model.FiltroRepresentante, pagina = i, totalpaginas = Model.TotalPaginas })">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("PesquisaPedido", "Pedido", new { pedido = Model.FiltroPedido, cliente = Model.FiltroCliente, representante = Model.FiltroRepresentante, pagina = i, totalpaginas = Model.TotalPaginas })">@i</a></li>
                    }
                    if (i == iComecar + 9)
                    {
                        break;
                    }
                }
                if (Model.Pagina < Model.TotalPaginas)
                {
                    <li>
                        <a href="@Url.Action("PesquisaPedido", "Pedido", new { pedido = Model.FiltroPedido, cliente = Model.FiltroCliente, representante = Model.FiltroRepresentante, pagina = Model.Pagina + 1, totalpaginas = Model.TotalPaginas })" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a href="#" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>
